name: Rust CI

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '11 7 * * 1,4'

# env:
#   RUSTFLAGS: -Dwarnings
#   RUSTDOCFLAGS: -Dwarnings

jobs:

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  # clippy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #           toolchain: stable
  #           profile: minimal
  #           components: clippy
  #           override: true
  #     - uses: actions-rs/clippy-check@v1
  #       with:
  #         token: ${{ secrets.GITHUB_TOKEN }}
  #         args: --workspace --tests --examples

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rust-docs
          override: true
      - uses: swatinem/rust-cache@v1
        with:
          key: ${{ github.job }}
      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --workspace --no-deps

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [nightly, stable]
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - uses: swatinem/rust-cache@v1
        with:
          key: ${{ github.job }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --tests --examples --bins
  
  doctest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - uses: swatinem/rust-cache@v1
        with:
          key: ${{ github.job }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --doc
  
